In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
dict_medidas = {"idade": [15, 18, 25, 25, 40, 55, 58, 60, 80],
     "altura": [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [4]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [5]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de Posição

In [6]:
# media idade
df_medidas["idade"].mean()

41.77777777777778

In [7]:
# mediana idade
df_medidas["idade"].median()

40.0

In [8]:
# moda idade
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [9]:
# moda altura
df_medidas["altura"].mode()

0    174
Name: altura, dtype: int64

### Medidas de Dispersão

In [13]:
# variância idade
df_medidas.idade.var()

509.9444444444444

In [15]:
# desvio padrão idade
df_medidas.idade.std()

22.58194952709895

In [17]:
# coeficiente de variação idade
df_medidas.idade.std() / df_medidas.idade.mean() * 100

54.05253876167302

In [18]:
# coeficiente de variação altura
df_medidas.altura.std() / df_medidas.altura.mean() * 100

3.4803552812368785

### Medidas de Forma

In [20]:
# assimetria idade
df_medidas.idade.skew() # assimetria positiva, cauda direita mais longa

0.368108517895537

In [23]:
# assimetria altura
df_medidas.altura.skew() # assimetria negativa, cauda esquerda é mais longa

-0.598486996170113

In [25]:
# curtose idade
df_medidas.idade.kurtosis()

-1.1344461075421046

In [26]:
# curtose altura
df_medidas.altura.kurtosis()

-1.3372641199913002

In [28]:
# obter medidas estatísticas
df_medidas.describe()

           idade      altura
count   9.000000    9.000000
mean   41.777778  169.444444
std    22.581950    5.897269
min    15.000000  160.000000
25%    25.000000  165.000000
50%    40.000000  172.000000
75%    58.000000  174.000000
max    80.000000  176.000000